# Database
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"

# BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Lemon Squeezy (Coming Soon)
# LEMON_SQUEEZY_API_KEY=
# LEMON_SQUEEZY_WEBHOOK_SECRET=

# Cloudflare R2 (Coming Soon)
# R2_BUCKET_NAME=
# R2_ACCOUNT_ID=
# R2_ACCESS_KEY_ID=
# R2_SECRET_ACCESS_KEY=
